<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.OjLessonMapper">
    
    <resultMap type="OjLesson" id="OjLessonResult">
        <result property="lessonId"    column="lesson_id"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectOjLessonVo">
        select lesson_id, name, description, del_flag, create_by, create_time, update_by, update_time, remark from oj_lesson
    </sql>

    <select id="selectOjLessonList" parameterType="OjLesson" resultMap="OjLessonResult">
        <include refid="selectOjLessonVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectOjLessonByLessonId" parameterType="Long" resultMap="OjLessonResult">
        <include refid="selectOjLessonVo"/>
        where lesson_id = #{lessonId}
    </select>
        
    <insert id="insertOjLesson" parameterType="OjLesson" useGeneratedKeys="true" keyProperty="lessonId">
        insert into oj_lesson
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateOjLesson" parameterType="OjLesson">
        update oj_lesson
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where lesson_id = #{lessonId}
    </update>

    <delete id="deleteOjLessonByLessonId" parameterType="Long">
        delete from oj_lesson where lesson_id = #{lessonId}
    </delete>

    <delete id="deleteOjLessonByLessonIds" parameterType="String">
        delete from oj_lesson where lesson_id in 
        <foreach item="lessonId" collection="array" open="(" separator="," close=")">
            #{lessonId}
        </foreach>
    </delete>
</mapper>